<li class="list-group-item" [ngClass]="toggleClass()">
    <div class="form-check d-inline">
        <input type="checkbox" class="form-check-input" id="complete" (click)="onChange()">
        <label for="complete" class="form-check-label lead">{{todoInput.title}}</label>
    </div>
    <div class="float-right">
        <span class="mx-3">{{todoInput.date | date}}</span>
        <!-- <i class="fa fa-heart mx-3 btn" (click)='isFavorite()' [ngClass]="todoInput.isFavorite? 'text-danger' : '' "></i> -->
        <button class="btn btn-danger btn-sm mx-3" (click)="deleteTodo(todoInput)">x</button>
    </div>
</li>